@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto&family=Tajawal:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}
/* css variables */
:root {
  --primary-color: #377099;
  --secondary-color: #040404;
  --secondary-color2: #ffffff;
  --text-color: #d3cccc;
  --bg-color: #191b1c;
  --project-bg-color: #3f4242;
  --primary-font: "Roboto", sans-serif;
}

.light-theme {
  --primary-color: #377099;
  --secondary-color: #040404;
  --secondary-color2: #ffffff;
  --bg-color: #f1f4f6;
  --project-bg-color: #e0e7e7;
  --text-color: #555454;
}
body {
  margin-left: 10rem;
  margin-right: 10rem;
  font-family: var(--primary-font);
  background-color: var(--bg-color);
  color: var(--text-color);
}
h1 {
  font-size: 28pt;
  font-weight: lighter;
}
h2 {
  font-size: 18pt;
  font-weight: lighter;
}
h3 {
  font-weight: lighter;
}
p {
  font-size: 16px;
  line-height: 22px;
}
/* header */
/* logo */
#logo {
  display: block;
  width: 20%;
  max-height: 100%;
  padding-left: 25px;
}
#logo:hover {
  transform: scale(1.1);
}
/* nav bar */
ul {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
}
ul li {
  display: inline;
  list-style: none;
}
li a:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color2);
}

ul li a {
  color: var(--text-color);
  font-size: 16px;
  margin-right: 10px;
  padding: 8px 25px;
  text-decoration: none;
}
.nav-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--primary-color);
}
.nav-bar {
  text-align: end;
}
/* main */

/* intro text */
.intro-container {
  text-align: center;
  font-family: sans-serif;
  color: var(--text-color);
  margin-top: 2rem;
}
.title-text {
  font-size: 28pt;
  padding-bottom: 1rem;
}
.subtitle-text {
  font-size: 18pt;
}
/* main body */
.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-gap: 1rem;
  /* padding-top: 2rem; */
}
.border {
  border: var(--primary-color) solid 1px;
}
.my-picture {
  max-width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.image3 {
  max-width: 90%;
}
.image:hover {
  transform: scale(1.1);
}
.description {
  padding: 1rem 0 2rem 0;
  /* border-bottom: #377099 1px solid; */
}
/* footer */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  border-top: var(--primary-color) solid 1px;
  padding: 2rem 0 2rem 0;
  margin-top: 3rem;
}

/* contact form page */
.contact-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  padding: 2rem;
}
.contact-text {
  color: var(--text-color);
  padding: 2rem;
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-top: 2rem;
}
form input,
textarea {
  padding: 8px 0 8px 5px;
  font-family: var(--primary-font);
  background-color: var(--bg-color);
  color: var(--text-color);
}
.button {
  background-color: var(--primary-color);
  color: var(--secondary-color2);
  width: 50%;
  padding: 8px 25px;
}
.button-clean:hover {
  background-color: #305875;
}

/* project page */
.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 0.5em;
}
.projects {
  background-color: var(--project-bg-color);
  padding: 1rem;
  margin: 1em;
}
.project-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.project-image:hover {
  filter: brightness(50%);
}
.project-description {
  font-size: 14px;
  color: var(--text-color);
  line-height: 20px;
}
.project-button {
  visibility: hidden;
  position: relative;
  left: 8rem;
  bottom: 7rem;
  background-color: var(--primary-color);
  color: var(--secondary-color2);
  text-decoration: none;
  padding: 0.5em 2em;
  border-radius: 20px;
}
.projects:hover .project-button {
  visibility: visible;
}
.align {
  text-align: center;
}
/* single project page */
.single-project-description {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}
.single-project-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
.project-link {
  display: block;
  margin: auto;
  width: 25%;
  text-align: center;
  background: var(--primary-color);
  color: var(--secondary-color2);
  padding: 8px 16px;
  border-radius: 25px;
  text-decoration: none;
}
.margin-top {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
/* Dark mode */
/* body {
  background-color: var(--secondary-color);
  color: var(--text-color);
}
.intro-container,
nav li a {
  color: var(--text-color);
}
form input,
textarea,
::placeholder {
  background-color: #000;
  color: var(--text-color);
}
.contact-text {
  color: var(--text-color);
}
.projects {
  background-color: var(--bg-color);
} */
#icon {
  cursor: pointer;
  width: 3%;
  position: absolute;
  top: 2.5rem;
  right: 1rem;
}
/* mobile view ////////////////////////////////////// */
@media only screen and (max-width: 600px) {
  body {
    padding: 1rem;
    margin: 1rem;
  }
  #logo,
  .nav-bar {
    margin-left: auto;
    margin-right: auto;
  }
  .project-button {
    left: 6.5rem;
    bottom: 6rem;
  }
  .contact-container {
    padding: 0;
  }
  ul li a {
    margin-right: 0;
    padding: 8px 20px;
  }
  #icon {
    top: 4rem;
    width: 7%;
  }
}
@media only screen and (max-width: 400px) {
  body {
    padding: 0;
    margin: 0;
  }
}
/* adding animation */
.float1,
.float2 {
  animation: drift 5s infinite;
}

@keyframes drift {
  from {
    transform: translateX(-70px);
  }
  to {
    transform: translateX(70px);
  }
}

.container {
  margin: auto;
  --width: 300px;
  width: var(--width);
  overflow: hidden;
}

#slider {
  width: calc(var(--width) * 3);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.slide {
  width: 100%;
}

#slider .first-slide {
  animation: slide-left-first 10s ease-in-out both infinite;
}

#slider .second-slide {
  animation: slide-left-second 10s ease-in-out both infinite;
}

#slider .third-slide {
  animation: slide-left-third 10s ease-in-out both infinite;
}

@keyframes slide-left-first {
  0% {
    transform: translateX(0px);
  }

  23% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(calc(var(--width) * -1));
  }
  31% {
    transform: translateX(calc(var(--width) * 3));
  }
  60% {
    transform: translateX(calc(var(--width) * 2));
  }
  90% {
    transform: translateX(var(--width));
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slide-left-second {
  0% {
    transform: translateX(0px);
  }
  23% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(calc(var(--width) * -1));
  }
  56% {
    transform: translateX(calc(var(--width) * -1));
  }
  60% {
    transform: translateX(calc(var(--width) * -2));
  }
  61% {
    transform: translateX(calc(var(--width) * 2));
  }
  90% {
    transform: translateX(calc(var(--width) * 1));
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slide-left-third {
  0% {
    transform: translateX(0px);
  }
  23% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(calc(var(--width) * -1));
  }
  56% {
    transform: translateX(calc(var(--width) * -1));
  }
  60% {
    transform: translateX(calc(var(--width) * -2));
  }
  90% {
    transform: translateX(calc(var(--width) * -2));
  }
  100% {
    transform: translateX(calc(var(--width) * -3));
  }
}
.projects {
  animation: moveup 2s 1 ease-in-out;
}
@keyframes moveup {
  0% {
    transform: translateY(300px);
  }
  50% {
    transform: translateY(0px);
  }
}
.img-with-button {
  animation: moveright 2s 1 ease-in-out;
}
@keyframes moveright {
  0% {
    transform: translateX(-500px);
  }
  50% {
    transform: translateX(0px);
  }
}
.animate {
  animation: moveleft 2s 1 ease-in-out;
}
@keyframes moveleft {
  0% {
    transform: translateX(500px);
  }
  50% {
    transform: translateX(0px);
  }
}
